/01 Find Prime Factors
/02 Identify a Palindrome
/04 Find All List Items
/05 Play the Waiting Game
/06 Save a Dictionary
/07 Set an Alarm
/08 Send an Email
/09 Simulate Dice
/10 Count Unique Words
/11 Generate a Password
/12 Merge CSV Files